<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>783541639500-dqsfur79sr8s276s7qh8nq7g9n6p07ds.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.783541639500-dqsfur79sr8s276s7qh8nq7g9n6p07ds</string>
	<key>API_KEY</key>
	<string>AIzaSyAYosc8cyWcggZ2LOJtkLcJZvafg6_dps4</string>
	<key>GCM_SENDER_ID</key>
	<string>783541639500</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.gmail.yuukirinnma.RxSwift-Firebase</string>
	<key>PROJECT_ID</key>
	<string>mvvm-rxswift-38e90</string>
	<key>STORAGE_BUCKET</key>
	<string>mvvm-rxswift-38e90.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:783541639500:ios:824d4733b27c4988ec17e9</string>
</dict>
</plist>